InformacionProyecto/archivos banco/DpWorldService_1_2_3_4_5.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://peticiones.servicios.common.ocpgtw.bpe/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://peticiones.servicios.common.ocpgtw.bpe/" xmlns:ns2="http://enumerados.servicios.common.ocpgtw.bpe/" xmlns:ns1="http://peticiones.servicios.common.bpe/">
   <xsd:import schemaLocation="DpWorldService_1.xsd" namespace="http://peticiones.servicios.common.bpe/"/>
   <xsd:import schemaLocation="DpWorldService_1_2_3_4_5_6.xsd" namespace="http://enumerados.servicios.common.ocpgtw.bpe/"/>
   <xsd:complexType name="ocpPeticion" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="ns1:peticion">
            <xsd:sequence>
               <xsd:element name="fechaContable" type="xsd:dateTime" minOccurs="0"/>
               <xsd:element name="fechaDia" type="xsd:dateTime" minOccurs="0"/>
               <xsd:element name="numeroCaja" type="xsd:string" minOccurs="0"/>
               <xsd:element name="nutLegado" type="xsd:long"/>
               <xsd:element name="producto" type="ns2:productoEnum" minOccurs="0"/>
               <xsd:element name="tipoTransaccion" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>
