InformacionProyecto/archivos banco/DpWorldService_1_2.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://respuestas.servicios.common.bpe/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://respuestas.servicios.common.bpe/">
   <xsd:complexType name="respuesta">
      <xsd:sequence>
         <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
         <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="duracionTarea" type="xsd:long"/>
         <xsd:element name="idMensaje" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tipo" type="ns0:tipo" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="tipo">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="EXITO"/>
         <xsd:enumeration value="ERROR"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
